<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kacak.stylemyself">

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/kacak_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kacak_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddCollection" />
        <activity android:name=".DailyWear" />
        <activity android:name=".DailyWear2" />
        <activity android:name=".MatchandPair" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".events" />
        <activity android:name=".EventsDateCasual" />
        <activity android:name=".EventsDateFancy" />
        <activity android:name=".EventsDinner" />
        <activity android:name=".MyCloset" />
        <activity android:name=".MyCloset_Accessories" />
        <activity android:name=".MyCloset_Bottoms" />
        <activity android:name=".MyCloset_Hearwear" />
        <activity android:name=".MyCloset_Shoes" />
        <activity android:name=".MyCloset_Tops"></activity>
    </application>

</manifest>